<div class="home">
  <!-- Pantalla principal -->
  <div class="background-image"></div>
  <div class="content">
    <div class="tagline">Transforma tus sueños en metas, y tus metas en realidad</div>
    <h1 class="main-heading">Cada día es una nueva oportunidad para crecer</h1>
    <p class="subheading">↓ Sigue nuestro viaje y hazlo parte del tuyo ↓</p>
  </div>
</div>

<!-- Sección 01 -->
<div class="section01">
  <div class="section-content">
    <div class="text-content">
      <h2>¿Qué significa 222?</h2>
      <p>
        El número 222 está asociado con equilibrio, armonía y nuevas oportunidades. Es un recordatorio
        de que estás en el camino correcto y que debes confiar en el proceso de la vida. También se
        relaciona con la necesidad de mantener pensamientos positivos y alinearte con tus metas.
      </p>
      <a href="https://www.instagram.com/quegacho_506/" class="read-more" target="_blank"
        >Síguenos →</a
      >
    </div>
    <div class="image-container"></div>
  </div>
</div>
